<h1 class="title"><img class="logo" src="../assets/Logo.psd.png"></h1>
<div class="signup">
	<%= form_for @user, :url => { :controller => "sessions", :action => "create" } do |f| %>
		<%= f.text_field :email, :placeholder => "Email", :class => 'textfield' %><br />
		<%= f.password_field :password, :placeholder => "Password", :class => 'textfield' %><br />
		<br>
		<%= f.submit 'Login' %>
	<% end %>
</div>


<p>Find me in app/views/sessions/new.html.erb</p>
<%= link_to 'Home', root_path %>
