
<div class="container">
  
<div class="col-lg-6"><%= image_tag @product.product_images.first.image, :class=>'paintingimage' %></div>

    <div class="col-lg-6">
      <div class="productview2">
        <h2 class="paintingtitle"><%= @product.name %></h2>
        <p><%= @product.description %></p>
        <p> $<%= @product.unit_price %></p>
        <p>Local pick-up only</p>

        <% if current_user.present? %>
            <%= render 'partials/purchasebutton' %>
            <% elsif current_user == nil %>
            <%= render 'partials/purchasebuttonlogin' %>
        <% end %>
      </div>
    </div>
</div>