
<div class="container">
  
<div class="col-lg-6"><%= image_tag @product.product_images.first.image, :class=>'paintingimage' %></div>

    <div class="col-lg-6">
      <div class="productview2">
        <h2 class="paintingtitle"><%= @product.name %></h2>
        <p><%= @product.description %></p>
        <p> $<%= @product.unit_price %></p>
        <p>Local pick-up only</p>
        <!-- stripe -->
        <form action="/charge" method="POST">
          <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_8jnQ29FOBt5xe6QhjOeoukkV"
          data-name="Buy <%= @product.name %>"
          data-description="<%=@product.description%>"
          data-amount="<%=@product.unit_price * 100%>">
          </script>
        </form>
        <!-- end stripe -->
      </div>
    </div>
</div>