<div class="container">
        <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-8" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">
                                        <%= image_tag @product.product_images.first.image(:medium), :class=> "thumbnail", :id => "carousel-selector-0" %></div>

                                        <div class="item" data-slide-number="1">
                                          <%= image_tag @product.product_images.second.image(:medium), :class=> "thumbnail", :id => "carousel-selector-1" %></div>

                                        <div class="item" data-slide-number="2">
                                          <%= image_tag @product.product_images.last.image(:medium), :class=> "thumbnail", :id => "carousel-selector-2" %></div>


                                        
                                    </div><!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>                                       
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>                                       
                                    </a>                                
                                    </div>
                            </div>

                            <div class="col-sm-4" id="carousel-text"></div>

                            <div>
                                <div class="productview">
                                    <h2><%= @product.name %></h2>
                                    <p><%= @product.description %></p>
                                    <p> $<%= @product.unit_price %></p>
                                    <p>Local pick-up only</p>
                                    <!-- stripe -->
                                    <form action="/charge" method="POST">
                                      <script
                                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="pk_test_8jnQ29FOBt5xe6QhjOeoukkV"
                                        data-name="Buy <%= @product.name %>"
                                        data-description="<%=@product.description%>"
                                        data-amount="<%=@product.unit_price * 100%>" <% @amount = @product.unit_price * 100 %> >


                                      </script>
                                    </form>
                                    <!-- end stripe -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/Slider-->

                <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                            <li class="col-sm-2">
                               <%= image_tag @product.product_images.first.image(:small), :class=> "thumbnail", :id => "carousel-selector-0" %>
                            </li>

                            <li class="col-sm-2">
                              <%= image_tag @product.product_images.second.image(:small), :class=> "thumbnail", :id => "carousel-selector-1" %>
                            </li>

                            <li class="col-sm-2">
                              <%= image_tag @product.product_images.last.image(:small), :class=> "thumbnail", :id => "carousel-selector-2" %>

                            </li>

                        </ul>                 
                </div>
        </div>
</div>