<h1 class="title"><img class="logo" src="../assets/Logo.psd.png"></h1>
<div class="signup">
	<%= form_for @user do |f| %>
		<%= f.text_field :first_name, :placeholder => "First name", :class => 'textfield' %><br />
			
		<%= f.text_field :last_name, :placeholder => "Last name", :class => 'textfield' %><br />
			
		<%= f.text_field :email, :placeholder => "Email", :class => 'textfield' %><br />
		<%= f.password_field :password, :placeholder => "Password", :class => 'textfield' %><br />
		<%= f.password_field :password_confirmation, :placeholder => "Confirm password", :class => 'textfield' %><br />
		<br>
		<%= f.submit 'Sign up' %>
	<% end %>
</div>




















<br>
<br>
<br>
<br>
<br>

<p>Find me in Users#new</p>
<%= link_to 'Home', root_path %>