<% if current_user == nil || current_user.admin != true %>

<h1 style="color:red; text-align:center;"> ACCESS DENIED: Login as admin to render view </h1>
<img style="display:block; margin: auto;"src="http://stream1.gifsoup.com/view6/2662404/you-didnt-say-the-magic-word-o.gif" />


<% else %>


    <h1 class="admintitle">All Orders</h1>

    <h1 class="admintitle">Total Orders: <%= @orders.count %></h1>

    <%= @orders.each do |order| %>
        <li class="users"> <span class="bold">Order ID:</span> <%= order.id  %> </li>
        <li class="users"> <span class="bold">User ID:</span> <%= order.user_id  %> </li>
        <li class="users"> <span class="bold">Customer Name:</span> <%= order.user.first_name + " " + order.user.last_name %> </li>
        <li class="users"> <span class="bold">Product:</span> <%= order.product.name  %> </li>
        <li class="users"> <span class="bold">Price:</span> $<%= order.product.unit_price  %> </li>
        <li class="users"> <span class="bold">Customer Email:</span> <%= order.user.email  %> </li>
        <li class="users"> <span class="bold">Created At:</span> <%= order.created_at  %> </li>
        <br>
        <br>


    <% end %>




<% end %>


