<% if current_user == nil || current_user.admin != true %>

<h1 style="color:red; text-align:center;"> ACCESS DENIED: Login as admin to render view </h1>
<img style="display:block; margin: auto;"src="http://stream1.gifsoup.com/view6/2662404/you-didnt-say-the-magic-word-o.gif" />


<% else %>
	<br>
	<br>
	<br>
	<h1 class="admintitle"> Hello Scott! </h1>


	<%= link_to 'Homepage', root_path, :class=>"adminlinks" %><br>
	<%= link_to 'View Orders', orders_path, :class=>"adminlinks" %><br>
	<%= link_to 'View Users', users_path, :class=>"adminlinks" %><br>
	<%= link_to 'Add Product', new_product_path, :class => "adminlinks" %><br>
	<%= link_to 'View Products', products_path, :class => "adminlinks" %><br>
<% end %>


<br>
<br>
<br>
<br>
<br>
<br>



