<%= render 'partials/break' %>


<div class="socialmediabar" xmlns="http://www.w3.org/1999/html">
  <a href="http://www.facebook.com/ScottMeskillDesigns"> <div class="facebook"></div></a>
  <a href="http://instagram.com/scottmeskilldesigns"><div class="instagram"></div></a>
</div>
<br>
<br>
<br>

<h1 class="contact" ><a href="mailto:scott@scottmeskilldesigns.com">scott@scottmeskilldesigns.com</a></h1>
<h1 class="contact">(310) 529-5536</h1>




<%= render 'partials/break' %>
<%= render 'partials/break' %>
<%= render 'partials/break' %>
<%= render 'partials/break' %>
<%= render 'partials/break' %>
<%= render 'partials/break' %>
<%= render 'partials/break' %>
<%= render 'partials/break' %>
<p>Find me in views/pages/contact.html.erb</p>
<%= render 'partials/break' %>

