    <h1>Product_images#new</h1>
   

    <%= form_for(@product_image) do |f| %>

      <div class="field">
        <%= f.label :photo_date %><br>
        <%= f.date_field :photo_date %>
      </div>

      <div class="field">
        <%= f.label :image %><br>
        <%= f.file_field :image %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
<p>Find me in app/views/product_images/new.html.erb</p>
