<%= render 'partials/break' %>


<div class="container">
  <div class="row">
  	<% @furnishings.each do |furnishing| %>
	  <div class="col-md-4"><%= link_to furnishing.name, product_path(furnishing.id), :class => "title" %><img class="homeproducts" src="assets/Furniture/CIMG1421.JPG"><%= link_to "More Info", product_path(furnishing.id), class: 'btn btn-primary', style: "display:block;"%>
	  </div>
	  <% end %>
	</div>
	
</div>

<%= render 'partials/break' %>
<%= render 'partials/break' %>