<%= render 'partials/break' %>


<div class="container">
  <div class="row">
  	<% @paintings.each do |painting| %>
	  <div class="col-md-4"><%= link_to painting.name, product_path(painting.id), :class => "title" %><img class="homeproducts" src="assets/Paintings/whitey.jpg"><%= link_to "More Info", product_path(painting.id), class: 'btn btn-primary', style: "display:block;"%>
	  </div>
	  <% end %>
	</div>
	
</div>

<%= render 'partials/break' %>
<%= render 'partials/break' %>
<%= render 'partials/break' %>
