<!DOCTYPE html>
<html>
<head>
  <title>Scott Meskill Designs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  
  


  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'partials/navbar' %><br><br>
<%= yield %>
<%= render 'partials/footer' %>
</body>
</html>
